<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<log4net debug="true">
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<!--file可以指定具體的路徑 eg : d:\\test.log。不指定的話log被產生在專案的bin/Debug 或者 bin/Release目錄下 （web專案 預設產生在根目錄下）-->
			<file value="applicationLog.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<!--備份log文件最多10個-->
			<maxSizeRollBackups value="10" />
			<!--每個log文件最大是2M，如果超過2M將重新建立一個新的log文件，並將原來的log文件備份。 -->
			<maximumFileSize value="2MB" />
			<staticLogFileName value="true" />

			<layout type='log4net.Layout.SerializedLayout, log4net.Ext.Json'>
			</layout>

		</appender>

		<root>
			<!--指定將此級別及以上的log列印到log檔案中-->
			<level value="DEBUG" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
</configuration>